@import "../../../../../../node_modules/bootstrap/dist/css/bootstrap.css";

.card {
  width:400px;
  max-width: 400px;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em ;
}

.message {
  background-color: #525252;
  color: white;
  position: absolute;
  top: -25px;
  right: -10px;
  -webkit-box-shadow: -2px 4px 19px -2px rgba(0,0,0,0.39);
  box-shadow: -2px 4px 19px -2px rgba(0,0,0,0.39);
}
