<mat-card class="card m-3">
  <div class="d-flex justify-content-between">
    <div class="card-left-container">
      <mat-card-title>
        {{event.sport}}
      </mat-card-title>
      <mat-card-subtitle>
        level: {{event.level}}
      </mat-card-subtitle>
    </div>
    <div *ngIf="event.isJoined" class="message align-self-end pe-3 rounded ps-2 pt-1 pb-1">
      You are a participant
    </div>
    <div class="card-right-container">
      Created by:
      <div class="card-full-name">
        {{event.firstName}}
        {{event.lastName}}
      </div>
    </div>
  </div>
  <mat-card-content class="d-flex flex-column mb-0">
    <div>Location: {{event.location}}</div>
    <div>Date: {{event.date}}</div>
    <div>Time: {{event.time}}</div>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-between align-items-center ms-1 mb-1">
    <div>Price: {{event.price}} lei</div>
    <div class="d-flex flex-row align-items-center">
      <div>
        {{event.participants.length}}/{{event.maxPlayers}}
      </div>
      <button mat-raised-button class="ps-3 pe-3 p-1 rounded" (click)="openModal()">
        participants
      </button>
      <button mat-raised-button class="p-1 rounded" (click)="deleteEvent(event.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>Description and contact</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mb-3">
      <mat-divider class="" ></mat-divider>
    </div>
    <p>{{event.description}}</p>
    <div class="d-flex">
      Contact:
      <ul>
        <li>{{event.contactEmail}}</li>
        <li>{{event.contactPhone}}</li>
      </ul>
    </div>
  </mat-expansion-panel>
</mat-card>

