@import "~bootstrap/dist/css/bootstrap.css";
.logout-btn{
  font-size: 15px;
}

::ng-deep  .p-carousel-indicators {
  display: none !important;}

::ng-deep .p-carousel-item{
  flex:0 !important;
}

.width{
  width: 92.6%
}
