<mat-toolbar color="primary" class="d-flex justify-content-between ps-5 pe-5">
  <div>Welcome to your events, {{username}}</div>
  <div>
    <button mat-raised-button class="ps-3 pe-3 p-1 me-3 rounded logout-btn" (click)="redirectToMain()">
      Main page
    </button>
    <button mat-raised-button class="ps-3 pe-3 p-1 rounded logout-btn" (click)="logout()">
      Log out
    </button>
  </div>
</mat-toolbar>

<div class="mb-5">
  <div class="ms-3 mt-4 width">
    <div class="ms-5">
      <h3>Your accepted Events</h3>
      <h6 class="ms-3" *ngIf="acceptedEvents.length == 0">You have no rejected events</h6>
    </div>
    <div class="ms-4">
      <p-carousel
        *ngIf="acceptedEvents.length > 0"
        [value]="acceptedEvents"
        [numVisible]="3"
        [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-acceptedEvent pTemplate="item">
          <app-account-event-card [event]="acceptedEvent" (delete)="handleDeleteAcceptedEvent($event)"></app-account-event-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="ms-3 mt-3 width">
    <div class="ms-5">
      <h3>Your rejected Events</h3>
      <h6 class="ms-3" *ngIf="rejectedEvents.length == 0">You have no rejected events</h6>
    </div>
    <div class="ms-4">
      <p-carousel *ngIf="rejectedEvents.length > 0"
                  [value]="rejectedEvents"
                  [numVisible]="3"
                  [numScroll]="1"
                  [circular]="false"
                  [responsiveOptions]="responsiveOptions">
        <ng-template let-rejectedEvent pTemplate="item">
          <app-account-event-card [event]="rejectedEvent" (delete)="handleDeleteRejectedEvents($event)"></app-account-event-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="ms-3 mt-3 width">
    <div class="ms-5">
      <h3>Your pending Events</h3>
      <h6 class="ms-3" *ngIf="pendingEvents.length == 0">You have no pending events</h6>
    </div>
    <div class="ms-4">
      <p-carousel *ngIf="pendingEvents.length > 0"
                  [value]="pendingEvents"
                  [numVisible]="3"
                  [numScroll]="3"
                  [circular]="false"
                  [responsiveOptions]="responsiveOptions">
        <ng-template let-pendingEvent pTemplate="item">
          <app-account-event-card [event]="pendingEvent" (delete)="handleDeletePendingEvents($event)"></app-account-event-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
