@import "~bootstrap/dist/css/bootstrap.css";

.card {
  width:400px;
  max-width: 400px;
}
.bg-green{
  background-color: #155724 ;
  color:white;
  padding:0px 7px 0px 7px;
  border-radius: 6px;
}
.bg-red{
  background-color: #F44336;
  color:white;
  padding:0px 7px 0px 7px;
  border-radius: 6px;
}
.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}
