<mat-card class="card m-2">

  <div class="d-flex justify-content-between">
    <div class="card-left-container">
      <mat-card-title>
        {{event.sport}}
      </mat-card-title>
      <mat-card-subtitle>
        level: {{event.level}}
      </mat-card-subtitle>
    </div>
    <div class="card-right-container d-flex flex-column align-items-end">
      <div >
        <div *ngIf="event.rejected" class="bg-red mb-2 ">This event was rejected</div>
        <div *ngIf="event.accepted" class="bg-green mb-2">This event was accepted</div>
      </div>
      <div>
        Created by:
        <div class="card-full-name">
          {{event.firstName}}
          {{event.lastName}}
        </div>
      </div>
    </div>
  </div>
  <mat-card-content class="d-flex flex-column mb-0">
    <div>Location: {{event.location}}</div>
    <div>Creation date: {{event.date}}, {{event.time}}</div>
    <div>
      Number of players: {{event.maxPlayers}}
    </div>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between align-items-center ms-1 mb-1">
    <div>Price: {{event.price}} lei</div>
    <div class="d-flex flex-column align-items-end">
      <div class="d-flex mt-1">
        <button *ngIf="event.rejected" mat-raised-button color="accent" class="p-1 rounded "
                [disabled]="expired" (click)="acceptEvent(event.id, true)">
          <mat-icon>done</mat-icon>
        </button>
        <button *ngIf="event.accepted" mat-raised-button color="warn" class="p-1 rounded"
                [disabled]="expired" (click)="acceptEvent(event.id, false)">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button class="p-1 rounded" (click)="deleteEvent(event.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>
  </mat-card-actions>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Description and contact</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mb-3">
      <mat-divider class="" ></mat-divider>
    </div>
    <p>{{event.description}}</p>
    <div class="d-flex">
      Contact:
      <ul>
        <li>{{event.contactEmail}}</li>
        <li>{{event.contactPhone}}</li>
      </ul>
    </div>
  </mat-expansion-panel>
</mat-card>
