@import "~bootstrap/dist/css/bootstrap.css";
input {
  -webkit-user-select: all !important;
}
.login-card{
  width:450px;
  height:500px;
}

.login-content{
  width: 290px;
}

.login-btn{
  padding:12px;
}
